body {
    background-color: rgb(189, 255, 235);
}

nav {
    margin-bottom: 40px;
   
}

.active {
    font-size: 1.7rem;
}

i {
    padding: 0 8px;
    font-size: 1.3rem;
    color: #fff;
}

h2 {
    padding: 20px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Laila', sans-serif;

}

p, a {
    font-family: 'Jaldi', sans-serif;
    font-size: 1.2rem;
}

.bg-light {
    background-color: rgb(90, 204, 170) !important;
}

nav a {
    font-weight: 700;
    font-size: 1.5rem;
}

.card {
    background-color: transparent;
    border: none;
}