nav {
    display: inline-block;
    padding-top: 5px;
    padding-right: 15px;
}

nav a {
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
    color: black;
}

h3 {
    display: inline;
    padding-left: 20px;
}

h1 {
    text-align: center;
    padding-top: 50px;
}

p {
    text-align: center;
}

.rowMargin {
    margin-top: 50px;
    margin-bottom: 50px;
}

.bg-warning {
    min-height: 30px;
    background-color: rgba(var(--bs-success-rgb),var(--bs-bg-opacity))!important;
}

.bg-primary {
    min-height: 500px;
    background-color: rgba(var(--bs-success-rgb),var(--bs-bg-opacity))!important;
}

.bg-info {
    height: 100%;
}

.bg-secondary, .bg-light {
    min-height: 250px;
}

.bg-success {
    min-height: 300px;
}
.col-4 {
    padding-top: .75rem;
    padding-bottom: .75rem;
    margin: 5px;
    background-color:rgb(255,0,255);
    height: 100px;
    width: 100px;
}